{{> Partials/Header }}

<form action="{{ path 'post/{id}' payload.id }}" method="POST" id="edit-post-form">
    <input type="hidden" name="method" value="PUT">
    <textarea name="content">{{ content }}</textarea>
    <button type="submit">Edit Post</button>
</form>

{{> Partials/Footer }}